name: Deploy NextJS (pnpm) to EC2

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      # Install pnpm
      - uses: pnpm/action-setup@v4
        with:
          version: 9

      # Install Node (required for pnpm/action-setup)
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install deps & build
        run: |
          pnpm install --frozen-lockfile
          pnpm build

      - name: Debug list build files
        run: ls -al . && ls -al .next

      - name: Upload build to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: |
            .next
            public
            package.json
            pnpm-lock.yaml
            next.config.js
          target: /var/www/nextapp/

      - name: Restart app via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/nextapp
            pnpm install --prod --frozen-lockfile
            pm2 restart nextapp || pm2 start pnpm --name "nextapp" -- start

